/* Entire Site */

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    --text-color: #222222;
    --back-color: #eeeeee;
    --header-back-color: #194381;
    --header-text-color: #ffffff;

    --header-height: 6.5rem;
    --footer-height: 1.5rem;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--text-color);
    background-color: var(--back-color);
    min-height: 100vh;
}

@media (prefers-color-scheme: dark) {
    body {
        --text-color: #dddddd;
        --back-color: #222222;
    }
}

.hidden {
    display: none;
}

main {
    padding: 1rem;
    min-height: calc(100vh - var(--header-height) - var(--footer-height));
}

/* Title Heading */

header {
    height: var(--header-height);

    color: var(--header-text-color);
    background-color: var(--header-back-color);
    text-align: center;

    display: flex;
    flex-direction: column;
}

header h1 {
    margin-top: 1rem;
    flex: 1;
}

/* Project List Nav */

header nav {
    flex-grow: 0;
}

#project-select {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 1rem;
}

#project-select menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 1rem;
}

/* Project Info Region */

/* To-Do List */

#task-list-region {
    padding: 0.5rem;
}

#task-list-region h3 {
    text-align: center;
    margin-bottom: 0.5rem;
}

#task-list-container {
    color: var(--header-text-color);
    background-color: var(--header-back-color);
    max-width: 40rem;
    margin: auto;
    padding: 0.5rem;
    border-radius: 0.4rem;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 0.2rem;
}

#task-list-container .task {
    color: var(--text-color);
    background-color: var(--back-color);
    border: 0.1rem solid var(--text-color);
    border-radius: 0.3rem;
    padding: 0.2rem;
    padding-left: 1ch;
    width: 100%;

    display: grid;
    grid-template-columns: 1fr 4rem;
}

/* Completed Tasks */

/* Footer */

footer {
    text-align: center;
    line-height: var(--footer-height);
}