*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    --text-color: #222222;
    --back-color: #eeeeee;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--text-color);
    background-color: var(--back-color);
}