/* Entire Site */

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: clamp(12px, calc(8px + 0.8vw), 36px)
}

body {
    --strong-text-color: #000000;
    --text-color: #303030;
    --edge-color: #606060;
    --back-color: #eeeeee;
    --container-back-color: #dddddd;

    --header-text-color: #ffffff;
    --header-back-color: #194381;
    --create-color: #4ae2af;
    
    --shadow-color: #00082820;
    --dimmer-color: #00001880;

    --container-shadow: inset 1px 2px 4px 2px var(--shadow-color);
    --item-shadow: 2px 2px 1px var(--shadow-color);

    --default-font: Verdana, Geneva, Tahoma, sans-serif;

    --header-height: 7rem;
    --footer-height: 1.5rem;
    --max-reading-width: min(40rem, 90vw);

    font-family: var(--default-font);
    color: var(--text-color);
    background-color: var(--back-color);
    min-height: 100vh;
}

@media (prefers-color-scheme: dark) {
    body {
        --strong-text-color: #f0f0e8;
        --text-color: #d0d2d4;
        --edge-color: #6d787e;
        --back-color: #303030;
        --container-back-color: #282828;

        --header-text-color: #88b8ff;
        --header-back-color: #000000;
        --create-color: #0b4e45;

        --shadow-color: #00000040;
        --dimmer-color: #000000a0;
    }
}

.hidden {
    display: none !important;
}

button {
    display: block;
    font-family: var(--default-font);
    font-size: max(10pt, 1rem);

    color: var(--strong-text-color);
    background-color: var(--container-back-color);

    border: 1px solid var(--edge-color);
    border-radius: 3px;
    padding: 2px 5px;
    cursor: pointer;
}

h1, h2, h3 {
    color: var(--strong-text-color);
}

main {
    min-height: calc(100vh - var(--header-height) - var(--footer-height));
}

main section {
    padding: 1rem;
}

/* Title Heading */

header {
    color: var(--header-text-color);
    background-color: var(--header-back-color);
    height: var(--header-height);
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header h1 {
    color: var(--header-text-color);
    margin-top: 0.8rem;
}

header .disclaimer {
    font-size: 0.9rem;
    opacity: 0.8;
}

/* Project List Nav */

#project-select {
    padding-left: max(1rem, 4vw);

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 1rem;
}

#project-select menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 1rem;
}

#project-list button {
    font-weight: bold;
    min-width: 8ch;
    border: none;
    border-radius: 0.6rem 0.6rem 0 0;
    height: 1.8rem;
}

#project-list button.current {
    color: var(--strong-text-color);
    background-color: var(--back-color);

    /* Close any seam with main area below */
    position: relative;
    top: 1px;
    height: calc(1.8rem + 2px);
}

#project-list button.other {
    color: var(--text-color);
    background-color: var(--container-back-color);
    box-shadow: inset 0 -4px 2px -1px var(--shadow-color);
}

#new-project-button {
    background-color: var(--create-color);
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.5rem;
    width: 1.5rem;
    padding: 0;
    border: none;
    border-radius: 0.5lh;

    position: relative;
    top: -0.2rem;
}

/* Project Info Section */

#project-info-section > * {
    width: var(--max-reading-width);
    margin: auto;
}

/* Task List Section */

#task-list-section {
    background-color: var(--container-back-color);
}

#task-list-section h3 {
    text-align: center;
    margin: 0.3rem auto;
    background-color: var(--shadow-color);
    width: 12ch;
    line-height: 2rem;
    border-radius: 0.5lh;
}

#task-list-container {
    width: var(--max-reading-width);
    margin: auto;
    padding: 0.5rem;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 0.2rem;
}

#task-list-container .task {
    color: var(--text-color);
    background-color: var(--back-color);

    border: 0.1rem solid var(--edge-color);
    border-radius: 0.3rem;
    box-shadow: var(--item-shadow);

    padding: 0.2rem;
    padding-left: 1ch;
    width: 100%;

    display: grid;
    grid-template-columns: 1fr 5rem;
}

#new-task-show-button {
    margin: 0.5rem auto;
}

/* Completed Tasks Section */

#completed-task-section h3 {
    text-align: center;
    margin: 1rem;
}

#completed-list-container {
    width: var(--max-reading-width);
    margin: auto;
}

/* Footer */

footer {
    text-align: center;
    line-height: var(--footer-height);
}

/* Dialogs */

.dialog-container {
    position: fixed;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;
    background-color: var(--dimmer-color);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dialog {
    background-color: var(--container-back-color);
    border: 2px solid var(--edge-color);
    border-radius: calc(0.7rem + 2px);
    box-shadow: 0 0 0.5rem 2px var(--shadow-color);

    display: flex;
    flex-direction: column;
    align-items: stretch;

    > * {
        margin: 0 1rem;
    }

    .dialog-head {
        margin: 0;
        padding: 0.2rem;
        text-align: center;
        border-bottom: 1px solid var(--edge-color);
        border-radius: 0.7rem 0.7rem 0 0;
        background-color: var(--create-color);
    }

    input, textarea, select {
        font-family: var(--default-font);
        font-size: 1rem;
        color: var(--strong-text-color);
        background-color: var(--back-color);
        border: 1px solid var(--edge-color);
        line-height: 1.25rem;
        padding: 2px;
        display: block;
        width: 20rem;
    }
    
    label {
        display: block;
        margin-top: 0.5rem;
    }
    
    textarea {
        resize: block;
        height: 4rem;
    }
    
    .button-row {
        margin: 0.5rem;
    
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 1rem;
    }

    button[type='submit'] {
        font-weight: bold;
        background-color: var(--create-color);
    }

    button[type='button'] {
        background-color: var(--back-color);
    }
}